@model Web_Site_2._0.Models.Student_Info

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSecond.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student_Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Std_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Std_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Std_Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Std_Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Std_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Std_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Std_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Std_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionDt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Std_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Std_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptInfo.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptInfo.DeptName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Std_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
