





    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Dashboard - NiceAdmin Bootstrap Template</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="~/Content/assets/img/favicon.png" rel="icon">
        <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="~/Content/assets/vendor/quill/quill.snow.css" rel="stylesheet">
        <link href="~/Content/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
        <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="~/Content/assets/vendor/simple-datatables/style.css" rel="stylesheet">

        <link href="~/Content/vendor/aos/aos.css" rel="stylesheet">
        <link href="~/Content/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="~/Content/assets/css/style.css" rel="stylesheet">

        <!-- =======================================================

        ======================================================== -->
        <!-- Template Main CSS File -->
        <link href="~/Content/css/style.css" rel="stylesheet">






    </head>

    <body>
        <header id="header" class="fixed-top ">
            <div class="container d-flex align-items-center">

                <h1 class="logo me-auto"><a href="index.html">SHU Transport</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto" onclick="window.location= '@Url.Action( "Index", "Home")'">Home</a></li>

                        <li><a class="nav-link scrollto" onclick="window.location= '@Url.Action( "Login", "Home")'">Login</a></li>
                        <li><a class="nav-link scrollto" onclick="window.location= '@Url.Action( "Admin", "Home")'">Admin</a></li>


                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div>
        </header><!-- End Header -->
        <!-- ======= Header ======= -->
        <!-- ======= Hero Section ======= -->
        <!-- ======= Sidebar ======= -->

        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link " onclick="window.location= '@Url.Action( "Admin", "Home")'">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li><!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link " onclick="window.location= '@Url.Action( "Index", "Driver_Info")'">
                        <i class="bi bi-grid"></i>
                        <span>Driver</span>
                    </a>
                </li><!-- End Components Nav -->

                <li class="nav-item">
                    <a class="nav-link " onclick="window.location= '@Url.Action( "Index", "Student")'">
                        <i class="bi bi-grid"></i>
                        <span>Student</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " onclick="window.location= '@Url.Action( "Index", "Vehicle_Info")'">
                        <i class="bi bi-grid"></i>
                        <span>Vans</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " onclick="window.location= '@Url.Action( "Index", "Routes_Info")'">
                        <i class="bi bi-grid"></i>
                        <span>Routes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " onclick="window.location= '@Url.Action( "Index", "VehicleRoutes")'">
                        <i class="bi bi-grid"></i>
                        <span>Add Routes</span>
                    </a>
                </li>





                <!-- End Components Nav -->
                <!-- End Forms Nav -->



            </ul>

        </aside><!-- End Sidebar-->

        <main id="main" class="main">

            

            <section class="section dashboard">
                <div class="row">

                    <!-- Left side columns -->
                    <div>
                        <div class="row">
                            <div>
                                @RenderBody()
                            </div>
                        </div>
                    </div><!-- End Left side columns -->
                    <!-- Right side columns -->
                   <!-- End Right side columns -->

                </div>
            </section>

        </main><!-- End #main -->
        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="copyright">
                &copy; Copyright <strong><span>Students of SHU</span></strong>. All Rights Reserved
            </div>

        </footer><!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="~/Content/assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/assets/vendor/chart.js/chart.min.js"></script>
        <script src="~/Content/assets/vendor/echarts/echarts.min.js"></script>
        <script src="~/Content/assets/vendor/quill/quill.min.js"></script>
        <script src="~/Content/assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="~/Content/assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="~/Content/assets/js/main.js"></script>










    </body>

</html>
